<div class="sticky-bottom">
  <div class="bg-white m-auto p-3 text-center">
    <a class="" href="https://www.splunk.com/" target="_blank"><img src="/assets/img/splunk_logo.png" class="logo pr-4"/></a>
    <a class="" href="https://www.confluent.io/" target="_blank"><img src="/assets/img/confluent_logo.png" class="confluent_logo px-4"/></a>
    <a class="" href="https://www.elastic.co/" target="_blank"><img src="/assets/img/elastic_logo.png" class="logo pl-4"/></a>
  </div>
  <div class="bg-seynur-dark mb-2 p-3 text-center text-seynur-light" id="seynur-footer">
    Seynur Bilgi Teknolojileri A.Ş.<br/>
    Esentepe Mah. Büyükdere Cad. No:199/6 Levent Şişli İstanbul<br/>
    +90 212 403 9563 | <a href="mailto:info@seynur.com">info@seynur.com</a><br/>
    <div class="container py-3">
      <span class="copyright float-left">&#169;2022 Seynur | <a href="https://www.seynur.com/legal/privacy.html" target="_blank">Privacy Policy</a> | <a href="https://www.seynur.com/legal/terms.html" target="_blank">Terms &amp; Conditions</a>
      </span><span class="float-right">
        <a href="https://twitter.com/seynur" target="_blank"><i class="bi-twitter" role="img" aria-label="Twitter"></i></a>
        <a href="https://www.linkedin.com/company/1269351/" target="_blank"><i class="bi-linkedin px-1" role="img" aria-label="Linkedinn"></i></a>
        <a href="https://www.github.com/seynur" target="_blank"><i class="bi-github" role="img" aria-label="GitHub"></i></a>
      </span>
    </div>
  </div>
</div>
